*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: arial;
	font-style: italic; 
	
}

.container{
	
	width:1365px;
	height:50px;
	background-color:#857585;
	position:relative;
	
}


.container ul li a{
	
	font-size:25px;
	color:#fff;
	padding:10px 28px;
	text-decoration: none;
	margin:auto;
	height: 60px;
	line-height:40px;
	position:relative;
}

.container ul li{
	
 
   

    height: 50px;
    text-align: center;
    
   
    margin: auto;
    color: #fff;
   
    position: relative;
   display:inline-block;
   

}

.container ul li ul{
	
	background-color: #656565;
	
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: 200ms;
	width:300px;
	margin-top: -20px;
	
	
	
}

.container ul li ul li{
	
	display: block;
	
}

.container ul li:hover> ul{
	
	opacity:1;
	visibility:visible;
	margin-top: 0;
	
}

.container ul ul ul{
	
	left: 100%;
	top: 0;
	
	
}
.container ul li ul 